* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

article:after {
    content: '';
    clear: both;
    display: block;
}

/* ======================  START SECTION TOP ==========================  */
.section-top {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
}

.section-top__card {
    position: relative;
    top: 50px;
    max-width: 450px;
    background: #006e9cc7;
    padding: 50px 25px;
}

.section-top__card>* {
    color: #fff;
}

.section-top__arrow {
    border-top: 5px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 5px solid transparent;
    height: 0;
    position: absolute;
    right: 0;
    top: 3px;
    width: 0;
}

.section-top__pagination {
    display: inline-block;
    margin: 0 0 15px 0;
    position: relative;
    padding-right: 20px;
}

.section-top__heading {
    font-size: 30px;
    margin: 0 0 15px 0;
}

.section-top__para {
    margin: 0 0 15px 0;
}

/* ======================  END SECTION TOP ==========================  */

/* ======================  START SECTION ACCORDIAN ==========================  */

.accordian {
    margin-bottom: 25px;
}

.accordian.accordian--option {
    margin: 0;
}

.accordian__head {
    background-color: #31639c;
    cursor: pointer;
    color: #fff;
    padding: 15px 20px;
}

.accordian--option .accordian__head {
    background-color: #e4e4e4;
    border-top: 1px solid #ccc;
    color: #333;
}

.accordian.accordian--option:last-child .accordian__head {
    border-bottom: 1px solid #ccc;
}

.accordian.accordian--option:first-child .accordian__head {
    border-top: 0;
}

.accordian.accordian--option:last-child.open .accordian__head {
    border-bottom: 0;
}

.accordian__link {
    position: relative;
    padding-left: 30px;
}

.accordian__arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #fff;
    border-top: 0;
    height: 0px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 0px;
}

.accordian.accordian--option.open .accordian__head {
    background-color: #fff;
}

.accordian.open .accordian__arrow {
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #fff;
    border-bottom: 0;
    width: 0px;
}

.accordian__body {
    background-color: #e7eff7;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}

.accordian--option .accordian__body {
    background-color: #fff;
}


.accordian.open .accordian__body {
    max-height: 20000px;
}

.accordian__content {
    padding: 20px;
}

.accordian--option .accordian__content {
    padding-left: 50px;
}

.accordian__para {
    color: #313131;
    margin: 0 0 15px 0;
}

.accordian__letter {
    position: absolute;
    left: 0;
}

.accordian.accordian--option.error .accordian__link {
    color: #b71717
}

.accordian__letter--error {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #b71717;
    left: -5px;
    top: -3px;
    text-align: center;
    line-height: 26px;
    display: none
}

.accordian__letter--success {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #00b100;
    left: -5px;
    top: -3px;
    text-align: center;
    line-height: 26px;
    display: none
}

.accordian.accordian--option.error .accordian__letter,
.accordian.accordian--option.success .accordian__letter {
    display: none;
}

.accordian.accordian--option.error .accordian__letter--error {
    display: inline-block;
}

.accordian.accordian--option.error .accordian__letter--success {
    display: none
}

.accordian.accordian--option.success .accordian__letter--error {
    display: none
}

.accordian.accordian--option.success .accordian__letter--success {
    display: inline-block;
}

.accordian.accordian--option.success .accordian__link {
    color: #00b100;
}

.accordian.accordian--option.error .accordian__error {
    display: inline-block;
}

.accordian.accordian--option .accordian__error {
    display: none;
}

.accordian.accordian--option.error .accordian__answer-cta {
    display: none
}

.accordian.accordian--option.success .accordian__success {
    display: inline-block;
}

.accordian.accordian--option .accordian__success {
    display: none;
}

.accordian.accordian--option.success .accordian__answer-cta {
    display: none
}

.accordian.accordian--option.error .accordian__content,
.accordian.accordian--option.success .accordian__content {
    padding-top: 0;
}

/* ======================  END SECTION ACCORDIAN ==========================  */

/* ======================  START SECTION BLOCK ==========================  */
.d-block {
    margin-bottom: 25px;
}

.d-block--full {
    background-color: #f7f7ff;
    padding: 12px;
    border-top: 1px solid #ccc;
}

.d-block:after {
    content: '';
    display: block;
    clear: both;
}

.d-block__heading {
    font-size: 30px;
    border-bottom: 5px solid #a51818;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
}

.d-block__para {
    color: #313131;
    margin: 0 0 15px 0;
}

.d-block__image-heading {
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 15px 0;
}


/* IMAGE BLOCK */
.d-block__image-wrapper {
    text-align: center;
}

.d-block__image {
    display: inline-block;
    max-width: 100%;
}

/* TABLE BLOCK */
.d-block__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.d-block__table-th {
    border: 1px solid black;
    background-color: #def7ff;
    font-weight: normal;
    padding: 15px;
    width: 33.3333%;

}

.d-block__table-td {
    border: 1px solid black;
    padding: 15px;
}

.d-block__table-italic {
    font-weight: bold;
}


/* ======================  END SECTION BLOCK ==========================  */


/* ======================  START CARD BLOCK ==========================  */


.d-block__head {
    position: relative;
}

.d-block__heading--image {
    padding-right: 150px;
}

.d-block__heading-image {
    position: absolute;
    right: 0;
    width: 75px;
    top: 0;
}

.d-block__heading-image>img {
    display: block;
    max-width: 100%;
}

.card {
    float: left;
    padding-right: 30px;
}

.card--one-third {
    width: 33.3333333%;
}

.card__type {
    text-transform: uppercase;
    color: #736b6b;
    font-size: 10px;
    margin-bottom: 5px;
}

.card__image-wrapper {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card__image {
    display: block;
    max-width: 100%;
}

.card__detail {
    margin: 0 0 15px 0;
    color: #313131;
}

.card__timestamp:after {
    content: '';
    display: block;
    clear: both;
}

.card__time {
    float: left;
    padding: 0 20px;
    color: #94adc6;
    position: relative;
}

.card__time-image {
    position: absolute;
    left: 0;
}

.card__date {
    float: left;
    color: #736b6b;
    text-transform: uppercase;
}

/* ======================  END CARD BLOCK ==========================  */

/* ======================  START LEARN SECTION ==========================  */

.section-learn {
    background-color: #e7e7e7;
    margin-bottom: 55px;
    padding: 12px 0;
}

.c-button {
    background-color: #fff;
    border-radius: 7px;
    border: 1px solid #dadada;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 12px;
    position: relative;

}

.c-button--action {
    padding: 15px 12px;
    background-color: #19487d;
    border-radius: 0;
    border: 0;
    color: #fff;
    text-transform: uppercase;

}

.c-button--action:hover {
    opacity: .80;
}

.c-button--full {
    background-color: #000;
    border-radius: 0;
    border: 0;
    color: #fff;
    display: block;
    padding-left: 35px;
    text-align: left;
    width: 100%;

}

.checkmark {
    display: inline-block;
    padding-right: 15px;
}

.checkmark:after {
    border: solid #000;
    border-width: 0 2px 2px 0;
    content: '';
    display: block;
    height: 12px;
    transform: rotate(45deg);
    width: 5px;
}

.checkmark--green:after {
    border-color: #4ad642;
}

/* ======================  END LEARN SECTION  ==========================  */
.section-media {
    margin-bottom: 15px;
}

.section-media__iframe {
    margin-bottom: 15px;
}

.arrow-head {
    background-color: #fff;
    border-radius: 50%;
    color: #18487c;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    margin-left: 7px;
    padding: 5px;
    width: 25px;
}

.tab {
    margin-bottom: 15px;
}

.tab__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab__list:after {
    display: block;
    content: '';
    clear: both;
}

.tab__list-item {
    float: left;
}

.tab__list-link {
    display: block;
    cursor: pointer;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.tab__list-link:hover {
    background-color: #e6e6e6;
}

.tab__list-link--active {
    border-bottom: 3px solid #000;
}

.tab__content {
    display: none;
}

.tab__content--open {
    display: block;
}

.tab__list-item {
    display: block;
}

.tab__content-wrapper {
    margin-top: 15px;
}


/*======================  START SECTION EXAMPLE ==========================  */
.example {
    margin-bottom: 50px;
}

.example__inner {
    padding: 0 20px;
}

.example__wrapper {
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 40px 20px 20px 20px;
    position: relative;
}

.ribbon {
    position: absolute;
    top: 7px;
    padding: 5px 10px 5px 17px;
    font-size: 9px;
    left: -11px;

}

.ribbon--gray {
    background-color: #9c9ca5;
    color: #fff;
}

.ordered-list {
    margin: 0 0 15px 0;
    padding: 0 0 0 20px;
    list-style-type: decimal;
}

/*======================  END SECTION EXAMPLE ========================== */


.bg-gray {
    background-color: #949e9d;
    height: 100%;
    min-height: 100vh;
    padding-top: 10px;
}

.assignment {
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;

}

.d-block__head {
    font-size: 30px;
    margin: 0 0 15px 0;
}

.d-block__subheading {
    font-size: 20px;
    margin: 0 0 15px 0;
}

.assignment .d-block__list {
    margin-bottom: 50px;
}

.questions {
    margin-bottom: 30px;
}

.questions__count {
    color: #ccc;
    margin: 0 0 15px 0;
}

.questions__para {
    margin: 0 0 15px 0;
    line-height: 23px;
}

.questions__para--bold {
    font-weight: bold;
    font-style: italic;
}

.questions__success-heading {
    color: #00b100;
    font-size: 30px;
    margin: 0 0 15px;
}

.block-arrow {
    border-top: 5px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 5px solid transparent;
    height: 0;
    position: absolute;
    left: 20px;
    top: 14px;
    width: 0;

}

.questions__error-msg {
    color: #b71717;
}

.questions__success-msg {
    color: #00b100;
}

.questions__link {
    text-decoration: none;
    color: #19487d;
}

.questions__link--margin {
    margin-left: 15px;
}
.questions__link:hover {
    opacity: .8;
}

.questions__message {
    margin: 0 0 15px 0;
}