html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.wrapper--bg-gray {
    background-color: #415562;
}

.wrapper--bg-blue {
    background-color: #009cDe;
}

.header__body {
    min-height: 50px;
    padding: 10px;
    color: #FFF;
}

.nav-menu:after {
    content: '';
    display: block;
    clear: both;
}

.menu {
    float: left;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu__item {
    float: left;
}

.menu__link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #fff;
}

.user-option {
    float: right;

}

.user-option__email {
    float: left;
    border-right: 1px solid #fff;
    margin-right: 10px;
    padding: 4px 10px 4px 10px;
    font-size: 22px;
    color: #FFF;
}

.user-option__search {
    float: left;
    margin-right: 10px;
    padding: 4px 10px 4px 10px;
    font-size: 22px;
    color: #FFF;
}

.hero-carousel {
    height: 500px;
}

.hero-carousel__slides {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.welcome-section {
    background-color: #fff;
}

.section-head {
    background-color: #009cDe;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 26px;

}

.section-para {
    padding: 20px 50px;
    text-align: center;
    margin: 0;
}

.courses {
    background-color: #fff;
}

.courses__wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.courses__card {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 33.33333333333333%;
}

.courses__figure {
    margin: 0;
    transition: all ease-in-out .5s;
}

.courses__card:hover .courses__figure {
    opacity: .5;
}

.courses__link {
    background: #009cde;
    color: #fff;
    display: block;
    margin: 0 auto;
    opacity: 0;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    transition: all ease-in-out .5s;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;

}

.courses__card:hover .courses__link {
    opacity: 1;
}

.courses__image {
    display: block;
    max-width: 100%;
}

.testimony-container {
    height: 200px;
    overflow: hidden;
    position: relative;
}


.testimony__container {
    padding: 25px 60px;
    height: 100%;
    width: 100%;
}

.testimony__body {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: 150px;
    position: relative;

}

.testimony__figure {
    border-radius: 50%;
    height: 150px;
    overflow: hidden;
    left: 0;
    margin: 0;
    position: absolute;
    width: 150px;

}

.testimony__image {
    display: block;
    max-width: 100%;
}

.testimony__para {
    color: #02577b;
    margin: 0 0 15px 0;
    text-align: center;
}

.testimony__name {
    display: block;
    text-align: right;
    padding-right: 200px;
}

.swiper-button--sm:after {
    color: #009cde;
    font-size: 30px;
}




.team-container {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.team-info__wrapper {
    padding: 20px 45px;
    height: 100%;
    width: 100%;
}

.team-info__body {
    background-color: #003e58;
    border-radius: 25px;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.team-info__figure {
    margin: 0 auto 15px auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.team-info__image {
    display: block;
    max-width: 100%;
}

.team-info__details {
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.team-info__details>div {
    margin-bottom: 5px;
}


.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    color: #003e58;
    --swiper-theme-color: #003e58;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 3px;
}

.footer-content {
    background-color: #003e58;
}



/* resources Page */
.breadcrumb:after {
    content: '';
    clear: both;
    display: block;
}

.breadcrumb__list {
    background: #ccc;
    margin: 0;
    padding: 0;
}

.breadcrumb__item {
    display: block;
    float: left;
}

.breadcrumb__link {
    color: #333;
    display: block;
    padding: 10px 20px 10px;
    position: relative;
    text-decoration: none;
}

.breadcrumb__link:before {
    content: '>';
    display: block;
    position: absolute;
    right: 0;
}

.breadcrumb__item:last-child .breadcrumb__link:before {
    display: none;
}

.resources-page {
    padding: 0 20px 20px;
}

.resources-page:after {
    content: '';
    clear: both;
    display: block;
}

.resources-page__left-card {
    float: left;
    width: 70%;
}

.resources-page__right-card {
    float: left;
    width: 30%;
}




.ui-accordion .resource-accordion__body.ui-accordion-content {
    padding: 0;
}


.resource-accordion__day-count {
    border-bottom: 1px solid #8ddcff;
    background: #eaeaea;
    display: flex;
    position: relative;
}

.resource-accordion__day-count:last-child {
    border: 0;
}

.resource-accordion__day-count--bg-blue {
    background: #caefff;
}



.resource-accordion__day-count:after {
    content: '';
    clear: both;
    display: block;
}

.resource-accordion__day {
    left: 12px;
    position: absolute;
    top: 0;

}

.resource-accordion__left,
.resource-accordion__right {
    float: left;
    padding: 30px 20px;
    position: relative;
    width: 50%;
}

.resource-accordion__left {
    border-right: 2px solid #007eb3;
}

.resource-accordion__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.resource-accordion__title {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
}

.resource-accordion__list {
    list-style: none;
    margin: 0 20px;
    padding: 0;

}

.resource-accordion__item {
    margin-bottom: 15px;
}

.resource-accordion__doc-type {
    color: #007eb3;
    font-size: 30px;
    left: 0;
    position: absolute;
}

.resource-accordion__item .resource-accordion__link {
    color: #007eb3;
    font-size: 16px;
    line-height: 34px;
    padding-left: 50px;
    position: relative;
    text-decoration: none;
}

.resource-accordion.ui-accordion .ui-accordion-header.ui-accordion-header-active {
    background: #02577b;
}

.resource-accordion.ui-accordion .ui-accordion-header {
    background: #ccc;
}

.important-links {
    list-style: none;
}

.important-links__list {
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 25px;
    min-height: 40px;
    color: #fff;
}

.important-link__image {
    position: absolute;
    left: 0;
    font-size: 30px;
    height: 40px;
    width: 40px;
}

.important-link__img {
    max-width: 100%;
    display: block;
}

.important-links__link {
    color: #02577b;
}