* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

article:after {
    content: '';
    clear: both;
    display: block;
}
