/* ======================  START LAYOUT SPECIFIC CSS ==========================  */

.l-row {
    margin-left: -15px;
    margin-right: -15px;
}

.l-row:after {
    content: '';
    display: block;
    clear: both;

}

.l-column {
    float: left;
    padding: 0 15px;
}

.l-column--one-third {
    width: 33.333333333333%
}

.l-column--two-third {
    width: 66.666666666%
}

.l-column--one-half {
    width: 50%;
}

.l-column--one-fourth {
    width: 25%;
}

.l-column--three-fourth {
    width: 75%;
}




/* ======================  END LAYOUT SPECIFIC CSS ==========================  */